* {
  font-family: Merriweather;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 1140px;
  background-color: #fff;

}

.banner {
  position: relative;
  margin: 50px auto;
  text-align: center;
  background: url('./Images/Banner\ Image.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  border-radius: 15px;

}

.overlay,
.welcome-banner>.overlay {
  width: 1140px;
  min-height: 600px;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(7, 2, 17, 0) 0%, rgba(7, 2, 17, 0.5) 100%);
  border-radius: 15px;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  row-gap: 10px;

}

.banner-title {
  font-size: 72px;
  font-weight: 800;
  line-height: 72px;
  color: #fff;
}

.banner-subtitle {
  font-size: 32px;
  font-weight: 400;
  color: #fff;

}

.offer-section {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 25px;
}

.offer-heading {
  /* 65% OFF */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  /* identical to box height */
  text-align: center;
  color: #FF0000;
}

.offer-content {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  align-items: center;

}

.offer-text {
  color: #FF0000;
  font-size: 13px;
  font-weight: 500;
  font-family: 'inter';
}

.category-text {
  color: black;
  font-size: 22px;
  font-family: 'inter';
  font-weight: 700;
}

.offer-content img {
  width: 100%;
  height: auto;
  max-width: 50%;
}

.welcome-banner {
  position: relative;
  text-align: center;
  background-image: url('Images/Vectorrr.png');

}

.welcome-banner {
  position: relative;
  margin: 50px auto;
  text-align: center;
  background: url('./Images/Vectorrr.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  border-radius: 15px;
}

.banner-content {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.left-side-content {
  text-align: left;
  flex-basis: 60%;
  padding-right: 20px;
  display: flex;
  flex-flow: column nowrap;

  row-gap: 20px;
}

.banner-image {
  flex-basis: 40%;
}

.banner-title {
  font-family: 64px;
}

.banner-description {
  color: #fff;
  font-size: 18px;
  font-family: 'inter';
}

.banner-content a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'inter';
}

.event-info-section {
  width: 1140px;
  position: relative;
  min-height: 300px;
  margin: 0 auto;
}

.event-overlay {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  left: 5px;
  right: 5px;
  top: 20px;
  bottom: 50px;
  row-gap: 15px;
  align-items: center;
  min-height: 300px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
  border-radius: 15px;

}

.event-overlay h3 {
  font-family: 'inter';
  font-size: 20px;
}

.event-overlay h3>span {
  font-family: 'inter';
  color: #FF0000;
  font-size: 20px;
  margin-right: 5px;
}

.join-now-btn {
  background: #FF0000;
  border-radius: 8px;
  padding: 8px 20px;

}

.join-now-btn a {
  font-family: 'inter';
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.comming-soon {
  width: 1140px;
  margin: 50px 10px;
}

.comming-soon-content {
  display: flex;
  column-gap: 30px;
  row-gap: 10px;
  flex-flow: row nowrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.left-col {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  flex-basis: 33.3%;
}

.middle-image {
  flex-basis: 33.3%;
}

.right-col {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  flex-basis: 33.3%;
}

.right-col img {
  width: 120px;
  height: auto;
}

.left-col>h4 {
  color: #FF0000;
  font-family: 'inter';
  font-size: 20px;
  font-weight: 500;
}

.left-col>h2 {
  font-size: 45px;
}

.left-col>p,
.right-col>p {
  font-family: 'inter';
  font-weight: 400;
  font-size: 17px;
}

.right-col>h4 {
  color: #FF0000;
  font-family: 'inter';
  font-size: 40px;
  font-weight: 600;
}

.middle-image>img {
  padding: 70px;

}

.holiday-functional {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  column-gap: 20px;
  max-width: 1140px;
  margin: 40px auto;
}

.inner-section1 .top-content {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  row-gap: 10px;
  padding: 0px 50px;

}

.inner-section1 .top-content h4 {
  font-family: 'inter';
  font-size: 20px;
  font-weight: 600;

}

.top-content h2 {
  /* Holidays Sale 50% */
  font-weight: 900;
  font-size: 62px;
  color: #070211;
}

.top-content h2 span {
  color: #FF0000;
}

.top-content p {
  font-family: 'inter';
  font-weight: 400;
  font-size: 17px;
  padding: 0px 80px;
  text-align: center;
}

.inner-section2 {
  margin: -50px auto 20px auto;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
  justify-content: flex-start;
  background: url('Images/Rectangle\ 2.png');
  background-position: bottom center;
  background-size: contain;
  min-height: 315px;
  background-repeat: no-repeat;
}

.right-col {
  flex-basis: 40%;
  align-self: center;
}

.left-col {
  flex-basis: 60%;
}

.right-col img {
  width: 100%;
}

.inner-section2 .left-col img {
  margin-top: 55px;
  margin-left: 30px;
  width: 100%;
  align-self: flex-end;
}

.portfolio-section {
  margin: 40px auto;
}

.portfolio-section>.content-section {
  margin: 30px 0px;
  display: flex;
  flex-flow: column nowrap;
}

.content-section .section-subtitle {
  font-family: 'inter';
  color: #FF0000;
  font-size: 20px;
  font-weight: 600;
}

.content-section .section-title {
  font-size: 40px;
  font-weight: 800;
}

.content-section .section-description {
  color: #03030389;
  font-family: 'inter';
  font-size: 17px;
  font-weight: 400;
  width: 70%;
}

.portfolio-images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 15px;

}

.portfolio-images div {
  border-radius: 15px;
  overflow: hidden;
  height: 370px;
}

.portfolio-images div img {
  transition-duration: 0.4s;
  width: 100%;
}

.portfolio-images div>img:hover {
  transform: scale(1.1, 1.1);
}

.newsletter-section {
  margin: 40px auto;
  text-align: center;

}

.newsletter-section .inner-section {
  min-height: 400px;
  background: #ff00000d;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.newsletter-section .inner-section>img {
  align-self: center;
  width: 100px;
}

.newsletter-section .section-description {
  font-family: 'inter';
  padding: 0px 100px 30px 100px;
  font-size: 17px;
  font-weight: 400;
  color: #03030389;

}

.newsletter-section .section-title {
  font-size: 42px;
  font-weight: 800;
}

.newsletter-form {
  background: #fff;
  border-radius: 50px;
}

.newsletter-form input {
  font-family: 'inter';
  padding: 15px;
  font-size: 17px;
  border: none;
  border-radius: 50px 0px 0px 50px;
  background: #ffffff;
}

.newsletter-form input:focus {
  border: none;
  outline: none;
}

.newsletter-form input[type='placeholder'] {
  font-size: 16px;
}

.newsletter-form input[type='submit'] {
  border-radius: 0px 50px 50px 0px;
  background-color: #FF0000;
  color: #fff;
  font-size: 18px;
  font-weight: 500px;
  cursor: pointer;
}

footer {
  background: #070211;
  min-height: 400px;
  color: #fff;
  font-family: 'inter';
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

footer .inner-section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
  text-align: center;
  margin: 40px auto;
  width: 1140px;
}

.footer-top {
  width: 100%;
  min-height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ffffff2a;
}

.footer-top .address {
  font-family: 'inter';
  text-align: left;
  width: 25%;
  font-size: 18px;
  line-height: 30px;

}

.contact-info {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  row-gap: 10px;
}

.contact-info span {
  display: flex;
  font-family: 'inter';
  font-size: 18px;
  line-height: 20px;
}

.contact-info>span>img {
  width: auto;
  margin-right: 5px;
  margin-bottom: 5px;
}

.social-media {

  display: flex;
  column-gap: 20px;
  justify-content: center;
  min-height: 80px;

}

.social-media a img {
  padding-top: 10px;
  width: 100%;
  height: auto;
}

.copyright-section {
  padding-top: 30px;
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  width: 100%;
  border-top: 1px solid #ffffff2a;

}

.copyright-text {
  font-family: 'inter';
  font-size: 19px;
}

.unsubscribe-text {
  font-family: 'inter';
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}