* {
  font-family: Merriweather;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  margin: 0 auto;
  max-width: 1280px;
  background-color: #fff;

}

.banner {
  position: relative;
  margin: 50px auto;
  text-align: center;
  background: url('./Images/Banner\ Image.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  border-radius: 15px;

}

.overlay,
.welcome-banner>.overlay {
  width: 1280px;
  min-height: 600px;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, rgba(7, 2, 17, 0) 0%, rgba(7, 2, 17, 0.5) 100%);
  border-radius: 15px;
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  row-gap: 10px;

}

.banner-title {
  font-size: 72px;
  font-weight: 800;
  line-height: 72px;
  color: #fff;
}

.banner-subtitle {
  font-size: 32px;
  font-weight: 400;
  color: #fff;

}

.offer-section {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  row-gap: 25px;
}

.offer-heading {
  /* 65% OFF */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 88px;
  /* identical to box height */
  text-align: center;
  color: #FF0000;
}

.offer-content {
  display: flex;
  flex-flow: column wrap;
  row-gap: 10px;
  align-items: center;

}

.offer-text {
  color: #FF0000;
  font-size: 13px;
  font-weight: 500;
  font-family: 'inter';
}

.category-text {
  color: black;
  font-size: 22px;
  font-family: 'inter';
  font-weight: 700;
}

.offer-content img {
  width: 100%;
  height: auto;
  max-width: 50%;
}

.welcome-banner {
  position: relative;
  text-align: center;
  background-image: url('Images/Vectorrr.png');

}

.welcome-banner {
  position: relative;
  margin: 50px auto;
  text-align: center;
  background: url('./Images/Vectorrr.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  border-radius: 15px;
}

.banner-content {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.left-side-content {
  text-align: left;
  flex-basis: 60%;
  padding-right: 20px;
  display: flex;
  flex-flow: column nowrap;

  row-gap: 20px;
}

.banner-image {
  flex-basis: 40%;
}

.banner-title {
  font-family: 64px;
}

.banner-description {
  color: #fff;
  font-size: 18px;
  font-family: 'inter';
}

.banner-content a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: 'inter';
}

.event-info-section {
  width: 1280px;
  position: relative;
  min-height: 300px;
  margin: 0 auto;
}

.event-overlay {
  position: absolute;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  left: 5px;
  right: 5px;
  top: 20px;
  bottom: 50px;
  row-gap: 15px;
  align-items: center;
  min-height: 300px;
  background: linear-gradient(180deg, rgba(255, 0, 0, 0.1) 0%, rgba(255, 0, 0, 0) 100%);
  border-radius: 15px;

}

.event-overlay h3 {
  font-family: inter;
  font-size: 20px;
}

.event-overlay h3>span {
  font-family: inter;
  color: #FF0000;
  font-size: 20px;
  margin-right: 5px;
}

.join-now-btn {
  background: #FF0000;
  border-radius: 8px;
  padding: 8px 20px;

}

.join-now-btn a {
  font-family: inter;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.comming-soon {
  width: 1280px;
  margin: 50px 10px;
}

.comming-soon-content {
  display: flex;
  column-gap: 30px;
  row-gap: 10px;
  flex-flow: row nowrap;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.left-col {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  flex-basis: 33.3%;
}

.middle-image {
  flex-basis: 33.3%;
}

.right-col {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 10px;
  flex-basis: 33.3%;
}

.right-col img {
  width: 120px;
  height: auto;
}

.left-col>h4 {
  color: #FF0000;
  font-family: inter;
  font-size: 20px;
  font-weight: 500;
}

.left-col>h2 {
  font-size: 45px;
}

.left-col>p,
.right-col>p {
  font-family: inter;
  font-weight: 400;
  font-size: 17px;
}

.right-col>h4 {
  color: #FF0000;
  font-family: inter;
  font-size: 40px;
  font-weight: 600;
}

.middle-image>img {
  padding: 70px;

}